<h1>Movie Search</h1>
<% data.Search.forEach(function(movie) { %>
    <ul> 
        </ul><li><%= movie.Title %></li>
        <img src="<%= movie.Poster %>">
    </ul>
<% }) %>

<a href="/">Search Again!</a>