<!DOCTYPE html>
<html>
    <head>
        <title>CBS</title>
    </head>
    <body>
        <h1>Everybody loves: <%= thingVar %></h1>
        <p>This is from the cbs.ejs file</p>
        
    </body>
</html>

