<% include ./partials/header %> 
<h1>Sign Up!</h1>
<form action="/register" method="POST">
    <input id="" type="text" name="username" placeholder="username">
    <input id="" type="password" name="password" placeholder="password">
    <button>Sign Up!</button>
</form>
<% include ./partials/footer %>
